# Course: ITI1120 - F Winter 2021
 
# LAB 5 - Tasks

# Task 0

In [ ]:
s1="this is a string"
s2="this is a string"
s3=s1
print(s1==s3)
s1="aha"
print(s3==s1)
print(s3==s2)

# Task 1

In [ ]:
s1="this is a string"
print("A variable s1, referes to an object of what type?")
print( type(s1) )

s4=["this is a string"]
print("A variable s4, referes to an object of what type?")
print( type(s4) )

print("A variable s4[0], referes to an object of what type?")
print( type(s4[0]) )

# Task 2

In [ ]:
s5=[2, 4, "oaxaca", True]
s6=[2, 4, "oaxaca", True]
print(s5==s6)
print(s5 is s6)
s7=s6
print(s6 is s7)
s7[3]=False
print(s5)
print(s6)
print(s7)

# Task 3

In [ ]:
# example 1
def sum_odd(n):
     ''' (num)->num
     Returns the sum of positive odd numbers smaller than n'''
     odd_sum = 0
     for num in range(n):
          if num % 2 == 1:
               odd_sum = odd_sum + num
     return odd_sum  

result=sum_odd(12)      
print(result)

In [ ]:
# example 2
def product_odd(n):
     ''' (num)->num
     Returns the product of all positive odd numbers smaller than n'''
     prod = 1 
     for num in range(n):
          if num % 2 == 1:
               prod = prod * num
     return prod  

result=product_odd(12)      
print(result)

In [ ]:
# example 3
def sum_list_v1(a):
   ''' (list)->num
     Returns the sum of the odd elements in a given list a'''
   list_sum = 0
   for item in a:
      if item % 2 == 1:
         list_sum = list_sum + item
   return list_sum

lst=[10,21,3]
result=sum_list_v1(lst)
print(result)

In [ ]:
#example 4
def sum_list_v2(a):
    ''' (list)->num
     Returns the sum of the odd elements in a given list a'''
    list_sum = 0
    for i in range(len(a)):
       if a[i] % 2 == 1:
          list_sum = list_sum + a[i]
    return list_sum

lst=[10,21,3]
result=sum_list_v2(lst)
print(result)

# Task 4

In [ ]:
# how many stars does the following program print?

for i in range(-2,14):
     print("*")
     print("**")

# ---> !Important! Think about how to count stars by using Python !Important! <---

# Task 5

In [ ]:
#what does this print?

fruits = ["apple", "orange", "banana", "cherry"]

for afruit in fruits:     # by item
    print(afruit, end=" ")

In [ ]:
#what does this print?

fruits = ["apple", "orange", "banana", "cherry"]

for position in range(len(fruits)):     # by index
    print(fruits[position], end=" ")

In [ ]:
#what does this print?

for name in ["Joe", "Amy", "Brad", "Angelina", "Zuki", "Thandi", "Paris"]:
    print("Hi ", name, "  Please come to my party on Saturday!")

# Task 6

In [ ]:
# what does this print?

for i in range(5,0,-1):
     num=1
     for j in range (1,i+1):
          print(num, end="| ")
          num=num*2
     print()